/* Media Queries */

/* Media query for devices below 600px */

@media screen and (max-width: 600px) {
  .nav-ul {
    width: 100%;
    flex-direction: column;
    display: none;
    margin-top: 1rem;
  }
  .nav-ul li {
    width: 100%;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
  }
  .nav-ul li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
  .nav-ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .nav-link::before,
  .current::before {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .nav-ul .close {
    display: block;
  }
  .show {
    display: flex;
  }
  .hide {
    display: none;
  }
  .search {
    display: none;
  }

  .contact {
    flex-direction: column;
  }

  .intro-text {
    width: 100%;
  }

  .intro-text h1 {
    font-size: 6rem;
  }

  .contact > * {
    margin: 3rem 0;
  }
}
